#container
{width:600px;
border:5px; 
padding:5px}
h1 {width:200px;
	border:5px yellow;
	text-align:center;
	padding:5px}
img {width:300px;
	border:5px solid green;
	padding:5px}
li {list-style:none}
#card 
{width:600px;
border:5px solid black;
padding:5px}

#interesting-fact.
{
}


#facts
span{
font-weight:bold;
}

.animal-info
{font-style:italic;}
